@import './variables';

html,
body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  background: $color-background;
  color: $color-text-default;
}
