$color-background: #e1e4d9;
$color-primary: #623b5a;
$color-primary-hover: darken($color-primary, 5%);
$color-primary-active: darken($color-primary, 10%);

$color-text-default: #111111;
$color-text-primary: #ffffff;

$spacing-small: 0.4rem;
$spacing-medium: 0.8rem;

$font-family: 'Open Sans', Verdana, sans-serif;
$font-size: 18px;

$border-radius: 4px;
